<!DOCTYPE html>
<html>
    <%- include('../../layout/head') %>
  <body>
      <%- include('../../layout/header') %>
  <main>
      <%- include('./detail', {item}); %> 
              
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>