<!DOCTYPE html>
<html>
    <%- include('../layout/head') -%>
  <body>
      <%- include('../layout/header') -%>
  <main>
    <% bookSummary[0].forEach(item => { %>
      <%- include('../books/detail', {item}); %>
      <% }); %>
            
  </main>
  <%- include('../layout/footer') -%>
</body>
</html>