<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/layout.css">
  </head>
  <body>
    <header>
      <section class="pageTitle">
        Best Books
      </section>
      <section class="searchTitle">
        Search by Title or Author
      </section>
    </header>

    <main class="main-container">
      <% results.forEach(item => { %>
        <div class="bookEntry">
          <img src=<%= item.image %>></img>
          <h4 class="bookTitle"> <%= item.title %> </h4>
          <h5 class="bookAuthor"> <%= item.author %></h5>
          <p class="bookDesc"> <%= item.description %></p>
        </div>
      <% }); %>
    </main>
  </body>
</html>
