html {
  background-color: #f2f2f2;
}

.pageTitle {
  background-color: black;
  color: white;
}

.searchTitle {
  color: white;
  background-color: gray;
}

button {
  background-color: black;
  color: white;
}

label { 
  background-color: lightgrey;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-top: 70px;
}
