html {
  background-color: #f2f2f2;
}

.pageTitle {
  background-color: black;
  color: white;
}

.searchTitle {
  color: white;
  background-color: gray;
}

button {
  background-color: black;
  color: white;
}

label { 
  background-color: lightgrey;
}

