body {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
  text-align: center;
  width: 100%; 
}

.pageTitle {
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

.searchTitle {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-input label {

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  /* padding: 20px;
  padding-top: 20px; */
}

.bookEntry {
  border-radius: 5px;
  background-color: lightseagreen;
  max-width: 15em;
  margin: 10px;
  padding: 5px;
  padding-top: 5px;
}
p{
  max-height: 100px;
  overflow: auto;
  overflow-x: hidden;
}
.bookTitle, .bookAuthor{
  margin: 2px;
  border-bottom: 1px solid black;
}
