body {
  text-align: center;
  width: 100%;
}
.bookNum{
  margin: 20px;
}
.pageTitle {
  width: 100%;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 50px;
}
.searchTitle {
  width: 100%;
  padding: 10px;
}
.headerItem {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 9px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none
}
.headerItem:hover{
  background-color: beige;
}
.searchBooks{
  text-align: left;
}
.text-input label {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  text-decoration: none;
}
main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookEntry {
  border-radius: 5px;
  background-color: rgb(97, 116, 115);
  max-width: 15em;
  margin: 10px;
  padding: 5px;
  padding-top: 5px;
}
.bookImg{
  margin: 10px;
}
.bookDesc{
  max-height: 100px;
  overflow: auto;
  overflow-x: hidden;
}
.bookTitle, .bookAuthor, .bookIsbn, .bookDesc{
  color: white;
  text-align: left;
  margin: 2px;
  border-bottom: 1px solid black;
  padding: 2px;
}
.bookSelect{
  margin:  10px;
}

.hidden-form {
  display: none;
}
.visible-form{
  display: block;
}
.view-title{
 padding-top: 10px;
 padding-bottom: 5px;
}
.bookForm{
  text-align: left;
}
input{
  width: 95%;
  margin: 6px;
}
label{
  padding: 6px;
}
