<header>
    <section class="pageTitle">
      Book Browser
    </section>
    <section class="searchTitle">
      <a class="headerItem" href="/">Home</a><a class="headerItem" href="/forms">Search</a>
    </section>
  </header>